@import "styles/variables.scss";

body {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
  margin: 0;
  background-image: url("../public/start-background-img.png");
  background-repeat: repeat-x;
  background-size: auto 100%;
  animation: slide 60s linear infinite;
  animation: animatedBackground 500s linear infinite;
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
/*use negative width if you want it to flow right to left else and positive for left to right*/
  to {
    background-position: -10000px 0;
  }
}