
.fishing-background {
  
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #b7e2ff;
  overflow: hidden;

  .boat {
    position: absolute;
    z-index: 999;
    bottom: 0;
    left: 15vw;
    width: 100%;
    background-size: 45vw;
    height: 66vh;
    background-image: url('../../../public/boat1.png');
    background-repeat: no-repeat;
    animation-name: boatAnimation, boatEntry;
    animation-duration: 3s, 2s;
    animation-iteration-count: infinite, 1;
  }
  .boat2 {
    position: absolute;
    z-index: 999;
    bottom: 0;
    left: 15vw;
    width: 100%;
    background-size: 45vw;
    height: 83vh;
    background-image: url('../../../public/boat2.png');
    background-repeat: no-repeat;
    animation-name: boatAnimation, boatEntry;
    animation-duration: 3s, 2s;
    animation-iteration-count: infinite, 1;
  }

  .cloud {
    width: 100%;
    height: 100%;
    background-size: 200vh;
    animation: cloudAnimation 240s linear infinite;
    background-image: url('../../../public/cloud.png');
  }
  .trees {
    width: 100%;
    height: 100%;
    background-size: 200vh;
    animation: cloudAnimation 240s linear infinite;
    background-image: url('../../../public/trees1.png');
  }

  .trees2 {
    position: absolute;;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-size: 200vh;
    animation: cloudAnimation 400s linear infinite;
    background-image: url('../../../public/trees2.png');
  }

  .wave-bottom {
    z-index: 1000;
    position: absolute;
    background-color: white;
    bottom: 0;
    width: 100%;
    height: 25vh;
  }
  .wave {
    position: absolute;
    bottom: 10vh;
    left: 0;
    width: 100%;
    height: 10vh;
    background-image: url('../../../public/wave-strip.png');
    background-size: 40vw 10vh;
  }
  .wave1 {
    animation: animate 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 25vh;
  }
  .wave2 {
    animation: animate2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 26vh;
  }
  .wave3 {
    animation: animate 25s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 27vh;
  }
  .wave4 {
    animation: animate 5s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 28vh;
  }
}


@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 40vw;
  }
}

@keyframes animate2 {
  0% {
  background-position-x: 0;
  }
  100% {
  background-position-x: -40vw;
  }
}

@keyframes boatAnimation {
  0%, 100% {
    transform: translateY(0) translateX(0);
  }
  50% {
    transform: translateY(-1vh) translateX(0.5vw);
  }
}

@keyframes boatEntry {
  0% {
    transform: translateY(0) translateX(-100%);
  }
  100% {
    transform: translateY(0) translateX(0);
  }
}

@keyframes cloudAnimation {
  0% {
  background-position-x: 0;
  }
  100% {
  background-position-x: -200vh;
  }
}