
.fishing-background {
  
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #b7e2ff;
  overflow: hidden;

  .boat {
    position: absolute;
    z-index: 999;
    bottom: 0;
    left: 10vw;
    width: 100%;
    background-size: 45vw;
    height: 80vh;
    background-image: url('../../../public/boat1.png');
    background-repeat: no-repeat;
    animation: boatAnimation 3s linear infinite;
  }

  .cloud {
    width: 100%;
    height: 100%;
    background-size: 200vh;
    animation: cloudAnimation 240s linear infinite;
    background-image: url('../../../public/cloud.png');
  }

  // .fish {
  //   position: absolute;
  //   z-index: 9999;
  //   bottom: 0;
  //   width: 100%;
  //   height: 300px;
  //   background-size: 1000px;
  // }
  .fish1 {
    animation: animate2 30s linear infinite;
    background-image: url('../../../public/underwater-fish/leftS.png');
  }
  .fish2 {
    animation: animate2 15s linear infinite;
    background-image: url('../../../public/underwater-fish/leftF.png');
  }
  .fish3 {
    animation: animate 15s linear infinite;
    background-image: url('../../../public/underwater-fish/rightS.png');
  }
  .fish4 {
    animation: animate 40s linear infinite;
    background-image: url('../../../public/underwater-fish/rightSS.png');
    bottom: 110px;
  }
  .fish5 {
    animation: animate 15s linear infinite;
    background-image: url('../../../public/underwater-fish/rightF.png');
    bottom: 110px;
  }

  .wave-bottom {
    z-index: 1000;
    position: absolute;
    background-color: white;
    bottom: 0;
    width: 100%;
    height: 25vh;
  }
  .wave {
    position: absolute;
    bottom: 10vh;
    left: 0;
    width: 100%;
    height: 10vh;
    background-image: url('../../../public/wave-strip.png');
    background-size: 40vw 10vh;
  }
  .wave1 {
    animation: animate 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 25vh;
  }
  .wave2 {
    animation: animate2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 26vh;
  }
  .wave3 {
    animation: animate 25s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 27vh;
  }
  .wave4 {
    animation: animate 5s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 28vh;
  }
}


@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 40vw;
  }
}

@keyframes animate2 {
  0% {
  background-position-x: 0;
  }
  100% {
  background-position-x: -40vw;
  }
}

@keyframes boatAnimation {
  0%, 100% {
    transform: translateY(0) translateX(0);
  }
  50% {
    transform: translateY(-1vh) translateX(0.5vw);
  }
}

@keyframes cloudAnimation {
  0% {
  background-position-x: 0;
  }
  100% {
  background-position-x: -200vh;
  }
}