@import "../../styles/variables.scss";
@import '../../styles//mixins.scss';

.break-title {
  position: absolute;
  z-index: 999999;
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: rgb(234, 249, 255);
  background-color: #00b4cc;
  background-image: url("https://www.transparenttextures.com/patterns/subtle-grey.png");
  background-size: 65em;

  &--text {
    width: 100%;
    height: 3.5em;
    text-align: center;
    @include confirm-button;
    font-size: 10em;
  }
  &--button {
    @include confirm-button;
    font-size: 10em;
  
    &:hover {
      text-shadow: 7px 15px grey;
    }
  
    &:active {
      text-shadow: 7px 15px orange;
    }
  }
}
