@import '../../styles/mixins.scss';
@import "../../styles/variables.scss";

.start {
  position: absolute;
  z-index: 999998;

  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &-button {
    display: inline-flex;
    width: 100%;
    height: 3.5em;
    justify-content: center;
    align-items: center;
    @include confirm-button;
    font-size: 20rem;
    color: rgb(234, 249, 255);
    background-color: #00b4cc;
    background-image: url("https://www.transparenttextures.com/patterns/subtle-grey.png");
    background-size: 3em;
  
    animation: flyIn 0.5s linear;
  
    &:hover {
      text-shadow: 7px 15px orange;
    }
  
    &:active {
      text-shadow: 7px 15px rgb(242, 222, 0);
    }
  }
}