.gender-selection {
  display: flex;
  justify-content: center;

  margin-top: 10px;

  img {
    margin-right: 5vw;
    margin-left: 5vw;
  }

}

.gender {

  margin-left: 40px;
  margin-right: 40px;

  width: 12vw;
  filter: grayscale(1);

  &:hover {
    cursor: pointer;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.4));
  }
}

.girl-selected {
  filter: none;

  &:hover {
    cursor: default;
    filter: none;
  }
}

.boy-selected {
  filter: none;

  &:hover {
    cursor: default;
    filter: none;
  }
}