@import "../../styles/variables.scss";
@import '../../styles//mixins.scss';

.users-background {
  position: fixed;
  bottom: 0px;
  height: 10vh;
  width: 100%;
  background-image: url("../../../public/users-background-img.png");
  background-repeat: repeat-x;
  background-size: auto 100%;
  animation: slide 60s linear infinite;
  animation: animatedBackground 500s linear infinite;
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
/*use negative width if you want it to flow right to left else and positive for left to right*/
  to {
    background-position: -10000px 0;
  }
}

.gender-container {
  display: flex;
  justify-content: center;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 10px;
}

.consent {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
  }

}

.gender-title {
  display: flex;
  justify-content: center;
  @include confirm-button;
  -webkit-text-stroke-width: 1px;
  font-size: 3vw;
  top: 0;
  cursor: default;
}

.age-title {
  display: flex;
  justify-content: center;
  @include confirm-button;
  -webkit-text-stroke-width: 1px;
  font-size: 3vw;
  cursor: default;
  margin-bottom: -70px;
}