@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.searching {
  width: 100%;
  display: flex;
  flex-direction: column;

  &-text {
    @include confirm-button;
    font-size: 5vw;
    cursor: default;
    -webkit-text-stroke-width: 0.3vw;
    margin-top: 30vh;
    margin-bottom: 10vh;
  }

  &-fish {
    width: 7vw;
  }
  
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-image: url("../../../public/cloud.png");
  background-repeat: repeat-x;
  background-size: auto 100%;
  animation: slide 60s linear infinite;
  animation: animatedBackground 500s linear infinite;
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
/*use negative width if you want it to flow right to left else and positive for left to right*/
  to {
    background-position: -10000px 0;
  }
}

#cross-fading {
  position:relative;
  height:281px;
  width:100%;
  margin:0 auto;
}

#cross-fading img {
  position:absolute;
  right: 5vw;
  bottom: 0;
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

@keyframes cf3FadeInOut {
  0% {
    opacity:0;
  }
  10% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:0;
  }
}

#cross-fading img:nth-of-type(1) {
  animation-name: cf3FadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 8s;
  animation-delay: 6s;
}
#cross-fading img:nth-of-type(2) {
  animation-name: cf3FadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 8s;
  animation-delay: 4s;
}
#cross-fading img:nth-of-type(3) {
  animation-name: cf3FadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 8s;
  animation-delay: 2s;
}
#cross-fading img:nth-of-type(4) {
  animation-name: cf3FadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 8s;
  animation-delay: 0;
}