@import "../styles/variables.scss";
@import "../styles/mixins.scss";

.confirm {
  @include confirm-button;
  margin-top: 10vh;

  &:hover {
    text-shadow: 4px 7px grey;
  }

  &:active {
    text-shadow: 4px 7px orange;
  }
}