@import "../styles/variables.scss";
@import '../styles//mixins.scss';

.consent-background {
  position: fixed;
  bottom: 0px;
  height: 20vh;
  width: 100%;
  background-image: url("../../public/consent-background-img.png");
  background-repeat: repeat-x;
  background-size: auto 100%;
  animation: slide 60s linear infinite;
  animation: animatedBackground 500s linear infinite;
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
/*use negative width if you want it to flow right to left else and positive for left to right*/
  to {
    background-position: -10000px 0;
  }
}

.consent {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
  }
  
  &-title {
    @include confirm-button;
    -webkit-text-stroke-width: 2px;

    margin-top: 5vh;
    font-size: 5vw;
    top: 0;
    cursor: default;
  }
  
  &-content {
    height: 50vh;
    font-size: 25px;
    position: inherit;
    top: 0;
  }
  
  &-confirm {
    margin-top: 20px;
    display: flex;
    width: 100%;
  
    &--button {
      width: 100%;
    }
  }

}

