@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

$button-font: 'Luckiest Guy', cursive;

$active-opacity: 1;
$inactive-opacity: 0.15;

$red: #f25558;
$blue: #a3cbce;
$green: #179694;
$yellow: #f6a764;

$spacing: 2rem;
