@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

$button-font: 'Luckiest Guy', cursive;

$active-opacity: 1;
$inactive-opacity: 0.15;

$red: #EB3217;
$blue: #42A3ED;
$green: #91C845;
$yellow: #F5BC10;

$spacing: 2rem;
